@import "tailwindcss";

@theme {
  --font-gothic: "franklin-gothic-atf", sans-serif;
  --font-grotesk: "aktiv-grotesk", sans-serif;
  --color-off-white: #faf9f6;
  --color-inner: #faf9f7;
  --color-primary: #0C2340;
  --color-secondary: #FFC72C;
  --color-tertiary: #393759;
  --color-dark: rgb(33, 30, 47);
  --color-brown: #1c1513;
}

input:focus {
  outline: none;
  border: none;
}

select {
  outline: none; /* Remove the outline when focused */
}

/* @keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
} */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
  width: max-content;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20%) scale(0.9);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

.fade {
  animation: 4s infinite fade;
  animation-fill-mode: both;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.9);
    filter: blur(4px);
  }
  10%,
  90% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}
